# Creating Binary Variables

### Import the Packages

In [1]:
import pandas as pd
import numpy as np
import os

### Load the Dataset

In [2]:
filename = os.path.join("/Users/salmanyagaka/Documents/interviews/adult.csv")
df = pd.read_csv(filename, header=0)

### Glance at the Data

In [3]:
df.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

### Display Summary Statistics by Column

In [4]:
df.describe(include='all')

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
count,48842.000000,48842,4.884200e+04,48842,48842.000000,48842,48842,48842,48842,48842,48842.000000,48842.000000,48842.000000,48842,48842
unique,NaN,9,NaN,16,NaN,7,15,6,5,2,NaN,NaN,NaN,42,2
top,NaN,Private,NaN,HS-grad,NaN,Married-civ-spouse,Prof-specialty,Husband,White,Male,NaN,NaN,NaN,United-States,<=50K
freq,NaN,33906,NaN,15784,NaN,22379,6172,19716,41762,32650,NaN,NaN,NaN,43832,37155
mean,38.643585,NaN,1.896641e+05,NaN,10.078089,NaN,NaN,NaN,NaN,NaN,1079.067626,87.502314,40.422382,NaN,NaN
std,13.710510,NaN,1.056040e+05,NaN,2.570973,NaN,NaN,NaN,NaN,NaN,7452.019058,403.004552,12.391444,NaN,NaN
min,17.000000,NaN,1.228500e+04,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,1.000000,NaN,NaN
25%,28.000000,NaN,1.175505e+05,NaN,9.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,40.000000,NaN,NaN
50%,37.000000,NaN,1.781445e+05,NaN,10.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,40.000000,NaN,NaN
75%,48.000000,NaN,2.376420e+05,NaN,12.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,45.000000,NaN,NaN
max,90.000000,NaN,1.490400e+06,NaN,16.000000,NaN,NaN,NaN,NaN,NaN,99999.000000,4356.000000,99.000000,NaN,NaN

## Group Columns into Binary Values Using `np.where()`


One of the typical tasks in data cleaning and feature engineering is to convert a feature or a label that has multiple categorical values into one that has a binary value. This means that instead of having multiple potential values, a feature or a label will have just two potential values.

For example, let's say we have "type of animal" as a feature and a list of 11 potential values for animals:

cats, dogs, sharks, elephants, iguanas, pigeons, humans, dolphins, mice, goldfish, hummingbirds

We can group these animals into **two** categories- `mammal` and `not-mammal` - and therefore, the "type of animal" feature will have two potential values (rather than 11 potential values).

cats, dogs, elephants, humans, dolphins, mice -> **mammal** 

iguanas, pigeons, goldfish, sharks, hummingbirds -> **not-mammal**


In this exercise, we will convert one feature column in our dataset (the `workclass` column) to contain binary values.


In the cell below, inspect the current the `workclass` column in the DataFrame `df`. Notice the different feature values.

In [5]:
df['workclass'].unique()

array(['Private', 'Local-gov', '?', 'Self-emp-not-inc', 'Federal-gov',
       'State-gov', 'Self-emp-inc', 'Without-pay', 'Never-worked'],
      dtype=object)

Inspect the first 30 rows of DataFrame `df` and focus on the `workclass` column to see some of the above values.

In [6]:
df.head(30)

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K
5,34,Private,198693,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K
6,29,?,227026,HS-grad,9,Never-married,?,Unmarried,Black,Male,0,0,40,United-States,<=50K
7,63,Self-emp-not-inc,104626,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,3103,0,32,United-States,>50K
8,24,Private,369667,Some-college,10,Never-married,Other-service,Unmarried,White,Female,0,0,40,United-States,<=50K
9,55,Private,104996,7th-8th,4,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,10,United-States,<=50K
10,65,Private,184454,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,6418,0,40,United-States,>50K
11,36,Federal-gov,212465,Bachelors,13,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,United-States,<=50K
12,26,Private,82091,HS-grad,9,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,39,United-States,<=50K
13,58,?,299831,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,35,United-States,<=50K
14,48,Private,279724,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,3103,0,48,United-States,>50K
15,43,Private,346189,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,>50K
16,20,State-gov,444554,Some-college,10,Never-married,Other-service,Own-child,White,Male,0,0,25,United-States,<=50K
17,43,Private,128354,HS-grad,9,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,30,United-States,<=50K
18,37,Private,60548,HS-grad,9,Widowed,Machine-op-inspct,Unmarried,White,Female,0,0,20,United-States,<=50K
19,40,Private,85019,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,45,?,>50K
20,34,Private,107914,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,47,United-States,>50K
21,34,Private,238588,Some-college,10,Never-married,Other-service,Own-child,Black,Female,0,0,35,United-States,<=50K
22,72,?,132015,7th-8th,4,Divorced,?,Not-in-family,White,Female,0,0,6,United-States,<=50K
23,25,Private,220931,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,43,Peru,<=50K
24,25,Private,205947,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,<=50K
25,45,Self-emp-not-inc,432824,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,7298,0,90,United-States,>50K
26,22,Private,236427,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
27,23,Private,134446,HS-grad,9,Separated,Machine-op-inspct,Unmarried,Black,Male,0,0,54,United-States,<=50K
28,54,Private,99516,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,35,United-States,<=50K
29,32,Self-emp-not-inc,109282,Some-college,10,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,60,United-States,<=50K

Our goal is to consolidate all of the different types of employment into two groups: **self-employed** and **not self-employed**, and change the values in the `workclass` column accordingly.


### Step 1: Create Group 1: `Not-self-emp`

Notice that the `workclass` column contains the values `Self-emp-inc`and `Self-emp-not-inc` to indicate that an individual is self-employed (these correspond to incorporated and the unincorporated self-employment).


Note that the `workclass` column contains a number of different values for individuals who are *not* self employed ('State-gov', 'Private', 'Local-gov', 'Federal-gov', 'Without-pay').

As a first step, we can group all of the "not self employed" values into one category - a **not self employed** category. We can change all of the `workclass` columns that contain the values 'State-gov', 'Private', 'Local-gov', 'Federal-gov', 'Without-pay' to the value `'Not-self-emp'`.

Let's try this using the `np.where()` function. First, read the documentation for the `np.where()` function. Then examine and run the code below and try to understand how it works.

For more information about `np.where()`, consult the online [documentation](https://numpy.org/doc/stable/reference/generated/numpy.where.html).

In [7]:
np.where?

Call signature:  np.where(*args, **kwargs)
Type:            _ArrayFunctionDispatcher
String form:     <built-in function where>
Docstring:
where(condition, [x, y], /)

Return elements chosen from `x` or `y` depending on `condition`.

.. note::
    When only `condition` is provided, this function is a shorthand for
    ``np.asarray(condition).nonzero()``. Using `nonzero` directly should be
    preferred, as it behaves correctly for subclasses. The rest of this
    documentation covers only the case where all three arguments are
    provided.

Parameters
----------
condition : array_like, bool
    Where True, yield `x`, otherwise yield `y`.
x, y : array_like
    Values from which to choose. `x`, `y` and `condition` need to be
    broadcastable to some shape.

Returns
-------
out : ndarray
    An array with elements from `x` where `condition` is True, and elements
    from `y` elsewhere.

See Also
--------
choose
nonzero : The function that is called when x and y are omitted

Notes
-----
If all the arrays are 1-D, `where` is equivalent to::

    [xv if c else yv
     for c, xv, yv in zip(condition, x, y)]

Examples
--------
>>> import numpy as np
>>> a = np.arange(10)
>>> a
array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])
>>> np.where(a < 5, a, 10*a)
array([ 0,  1,  2,  3,  4, 50, 60, 70, 80, 90])

This can be used on multidimensional arrays too:

>>> np.where([[True, False], [True, True]],
...          [[1, 2], [3, 4]],
...          [[9, 8], [7, 6]])
array([[1, 8],
       [3, 4]])

The shapes of x, y, and the condition are broadcast together:

>>> x, y = np.ogrid[:3, :4]
>>> np.where(x < y, x, 10 + y)  # both x and 10+y are broadcast
array([[10,  0,  0,  0],
       [10, 11,  1,  1],
       [10, 11, 12,  2]])

>>> a = np.array([[0, 1, 2],
...               [0, 2, 4],
...               [0, 3, 6]])
>>> np.where(a < 4, a, -1)  # -1 is broadcast
array([[ 0,  1,  2],
       [ 0,  2, -1],
       [ 0,  3, -1]])
Class docstring:
Class to wrap functions with checks for __array_function__ overrides.

All arguments are required, and can only be passed by position.

Parameters
----------
dispatcher : function or None
    The dispatcher function that returns a single sequence-like object
    of all arguments relevant.  It must have the same signature (except
    the default values) as the actual implementation.
    If ``None``, this is a ``like=`` dispatcher and the
    ``_ArrayFunctionDispatcher`` must be called with ``like`` as the
    first (additional and positional) argument.
implementation : function
    Function that implements the operation on NumPy arrays without
    overrides.  Arguments passed calling the ``_ArrayFunctionDispatcher``
    will be forwarded to this (and the ``dispatcher``) as if using
    ``*args, **kwargs``.

Attributes
----------
_implementation : function
    The original implementation passed in.

In [13]:
# Since there are only two values for self-employment, we can simplify our code by writing 
# NOT self employed 

# get all examples (rows) in which the workclass feature (column) is not self-employed
# Note: the code below uses the Pandas logical operator ~ for NOT
columns_not_self_employed = ~(df['workclass'] == 'Self-emp-not-inc') & ~(df['workclass'] == 'Self-emp-inc')

#leave nan (null) in the dataset for now. Get all examples (rows) in which the workclass feature (column) is not null
columns_not_null = ~(df['workclass'].isnull())  

# create condition
condition = columns_not_self_employed & columns_not_null

# Use np.where() to change all of the workclass values that fulfill the specified condition to Not-self-emp
df['workclass'] = np.where(condition, 'Not-self-emp', df['workclass'])

# Inspect the data to see the changed values
df.head(30)

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Not-self-emp,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Not-self-emp,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Not-self-emp,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Not-self-emp,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,Not-self-emp,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K
5,34,Not-self-emp,198693,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K
6,29,Not-self-emp,227026,HS-grad,9,Never-married,?,Unmarried,Black,Male,0,0,40,United-States,<=50K
7,63,Self-emp-not-inc,104626,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,3103,0,32,United-States,>50K
8,24,Not-self-emp,369667,Some-college,10,Never-married,Other-service,Unmarried,White,Female,0,0,40,United-States,<=50K
9,55,Not-self-emp,104996,7th-8th,4,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,10,United-States,<=50K
10,65,Not-self-emp,184454,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,6418,0,40,United-States,>50K
11,36,Not-self-emp,212465,Bachelors,13,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,United-States,<=50K
12,26,Not-self-emp,82091,HS-grad,9,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,39,United-States,<=50K
13,58,Not-self-emp,299831,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,35,United-States,<=50K
14,48,Not-self-emp,279724,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,3103,0,48,United-States,>50K
15,43,Not-self-emp,346189,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,>50K
16,20,Not-self-emp,444554,Some-college,10,Never-married,Other-service,Own-child,White,Male,0,0,25,United-States,<=50K
17,43,Not-self-emp,128354,HS-grad,9,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,30,United-States,<=50K
18,37,Not-self-emp,60548,HS-grad,9,Widowed,Machine-op-inspct,Unmarried,White,Female,0,0,20,United-States,<=50K
19,40,Not-self-emp,85019,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,45,?,>50K
20,34,Not-self-emp,107914,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,47,United-States,>50K
21,34,Not-self-emp,238588,Some-college,10,Never-married,Other-service,Own-child,Black,Female,0,0,35,United-States,<=50K
22,72,Not-self-emp,132015,7th-8th,4,Divorced,?,Not-in-family,White,Female,0,0,6,United-States,<=50K
23,25,Not-self-emp,220931,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,43,Peru,<=50K
24,25,Not-self-emp,205947,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,<=50K
25,45,Self-emp-not-inc,432824,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,7298,0,90,United-States,>50K
26,22,Not-self-emp,236427,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
27,23,Not-self-emp,134446,HS-grad,9,Separated,Machine-op-inspct,Unmarried,Black,Male,0,0,54,United-States,<=50K
28,54,Not-self-emp,99516,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,35,United-States,<=50K
29,32,Self-emp-not-inc,109282,Some-college,10,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,60,United-States,<=50K

Run the cell below to see the new  feature values for the `workclass` feature.

In [8]:
df['workclass'].unique()

array(['State-gov', 'Private', nan, 'Self-emp-not-inc', 'Local-gov',
       'Self-emp-inc', 'Federal-gov', 'Without-pay'], dtype=object)

Notice that we did not lose the `nan` values. Think about what would have happened had we not excluded 'NaN' values in our 'condition'.

### Step 2: Create Group 2: `Self-emp`

We have successfully created a `Not-self-emp` group and changed all pertinent values in column `workclass` to the value `Not-self-emp`. 

However, recall that our goal was to consolidate all of the different types of employment into two groups: **self-employed** and **not self-employed**

Notice that we still have two values for self employment: `Self-emp-not-inc`, `Self-emp-inc`.

We do not care to distinguish between the incorporated and the unincorporated self-employed examples, so we will next consolidate and change all `Self-emp-not-inc`and `Self-emp-inc` values in the `workclass` column to the value `Self-emp`.

In the two code cells below, you will use `np.where()` to combine `Self-emp-not-inc` and `Self-emp-inc` into a single class called `Self-emp`. Note: Follow the two steps as outlined per cell in order to properly grade your work.

#### Part 1:
Create the condition and name it `condition`. `condition` will contain a compound statement joined together by the Boolean operator <b>or</b> (`|`). It will find the people who are self employed, i.e. it will look for both the value `Self-emp-not-inc` and the value `Self-emp-inc` in the `workclass` column.

### Graded Cells

The two cells below will be graded. Remove the lines "raise NotImplementedError()" before writing your code.

In [18]:
condition = (df['workclass'] == 'Self-emp-not-inc') | (df['workclass'] == 'Self-emp-inc')

### Self-Check

Run the cell below to test the correctness of your code above before submitting for grading. Do not add code or delete code in the cell.

In [10]:
# Run this self-test cell to check your code; 
# do not add code or delete code in this cell
from jn import testCondition

try:
    p, err = testCondition(df, condition)
    print(err)
except Exception as e:
    print("Error!\n" + str(e))

Correct!

#### Part 2:

In the code cell below, use `np.where()` to combine `Self-emp-not-inc` and `Self-emp-inc` into a single class called `Self-emp`. Use the condition you created in Step 1. Follow the code pattern you have seen previously when implementing `np.where()`.

In [21]:
condition = (df['workclass'] == 'Self-emp-not-inc') | (df['workclass'] == 'Self-emp-inc')

df['workclass'] = np.where(condition, 'Self-emp', df['workclass'])

df.head(30)

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Not-self-emp,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Not-self-emp,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Not-self-emp,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Not-self-emp,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,Not-self-emp,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K
5,34,Not-self-emp,198693,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K
6,29,Not-self-emp,227026,HS-grad,9,Never-married,?,Unmarried,Black,Male,0,0,40,United-States,<=50K
7,63,Self-emp,104626,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,3103,0,32,United-States,>50K
8,24,Not-self-emp,369667,Some-college,10,Never-married,Other-service,Unmarried,White,Female,0,0,40,United-States,<=50K
9,55,Not-self-emp,104996,7th-8th,4,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,10,United-States,<=50K
10,65,Not-self-emp,184454,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,6418,0,40,United-States,>50K
11,36,Not-self-emp,212465,Bachelors,13,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,United-States,<=50K
12,26,Not-self-emp,82091,HS-grad,9,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,39,United-States,<=50K
13,58,Not-self-emp,299831,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,35,United-States,<=50K
14,48,Not-self-emp,279724,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,3103,0,48,United-States,>50K
15,43,Not-self-emp,346189,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,>50K
16,20,Not-self-emp,444554,Some-college,10,Never-married,Other-service,Own-child,White,Male,0,0,25,United-States,<=50K
17,43,Not-self-emp,128354,HS-grad,9,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,30,United-States,<=50K
18,37,Not-self-emp,60548,HS-grad,9,Widowed,Machine-op-inspct,Unmarried,White,Female,0,0,20,United-States,<=50K
19,40,Not-self-emp,85019,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,45,?,>50K
20,34,Not-self-emp,107914,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,47,United-States,>50K
21,34,Not-self-emp,238588,Some-college,10,Never-married,Other-service,Own-child,Black,Female,0,0,35,United-States,<=50K
22,72,Not-self-emp,132015,7th-8th,4,Divorced,?,Not-in-family,White,Female,0,0,6,United-States,<=50K
23,25,Not-self-emp,220931,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,43,Peru,<=50K
24,25,Not-self-emp,205947,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,<=50K
25,45,Self-emp,432824,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,7298,0,90,United-States,>50K
26,22,Not-self-emp,236427,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
27,23,Not-self-emp,134446,HS-grad,9,Separated,Machine-op-inspct,Unmarried,Black,Male,0,0,54,United-States,<=50K
28,54,Not-self-emp,99516,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,35,United-States,<=50K
29,32,Self-emp,109282,Some-college,10,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,60,United-States,<=50K

### Self-Check

Run the cell below to test the correctness of your code above before submitting for grading. Do not add code or delete code in the cell.

In [15]:
# Run this self-test cell to check your code; 
# do not add code or delete code in this cell
from jn import testWorkclass

try:
    p, err = testWorkclass(df)
    print(err)
except Exception as e:
    print("Error!\n" + str(e))

Correct!

In [22]:
# Check your results 
df['workclass'].unique()

array(['Not-self-emp', 'Self-emp'], dtype=object)

The cell below transforms the labels into a binary 'True' and 'False' variable, where 'True' is the label assigned to income level >50K. Run the code and inspect the results.

In [24]:
df = df.rename(columns={'income': 'label'})
condition1 = (df['label'] == '>50K')
df['label'] = np.where(condition1, 'True', df['label'])

condition2 = (df['label'] == '<=50K')
df['label'] = np.where(condition2, 'False', df['label'])

df.head(30)

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,label
0,25,Not-self-emp,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,False
1,38,Not-self-emp,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,False
2,28,Not-self-emp,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,True
3,44,Not-self-emp,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,True
4,18,Not-self-emp,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,False
5,34,Not-self-emp,198693,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,False
6,29,Not-self-emp,227026,HS-grad,9,Never-married,?,Unmarried,Black,Male,0,0,40,United-States,False
7,63,Self-emp,104626,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,3103,0,32,United-States,True
8,24,Not-self-emp,369667,Some-college,10,Never-married,Other-service,Unmarried,White,Female,0,0,40,United-States,False
9,55,Not-self-emp,104996,7th-8th,4,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,10,United-States,False
10,65,Not-self-emp,184454,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,6418,0,40,United-States,True
11,36,Not-self-emp,212465,Bachelors,13,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,United-States,False
12,26,Not-self-emp,82091,HS-grad,9,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,39,United-States,False
13,58,Not-self-emp,299831,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,35,United-States,False
14,48,Not-self-emp,279724,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,3103,0,48,United-States,True
15,43,Not-self-emp,346189,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,True
16,20,Not-self-emp,444554,Some-college,10,Never-married,Other-service,Own-child,White,Male,0,0,25,United-States,False
17,43,Not-self-emp,128354,HS-grad,9,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,30,United-States,False
18,37,Not-self-emp,60548,HS-grad,9,Widowed,Machine-op-inspct,Unmarried,White,Female,0,0,20,United-States,False
19,40,Not-self-emp,85019,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,45,?,True
20,34,Not-self-emp,107914,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,47,United-States,True
21,34,Not-self-emp,238588,Some-college,10,Never-married,Other-service,Own-child,Black,Female,0,0,35,United-States,False
22,72,Not-self-emp,132015,7th-8th,4,Divorced,?,Not-in-family,White,Female,0,0,6,United-States,False
23,25,Not-self-emp,220931,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,43,Peru,False
24,25,Not-self-emp,205947,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,False
25,45,Self-emp,432824,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,7298,0,90,United-States,True
26,22,Not-self-emp,236427,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,False
27,23,Not-self-emp,134446,HS-grad,9,Separated,Machine-op-inspct,Unmarried,Black,Male,0,0,54,United-States,False
28,54,Not-self-emp,99516,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,35,United-States,False
29,32,Self-emp,109282,Some-college,10,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,60,United-States,False

## Deep Dive: Categorical Variables

Let us discuss categorical variables in a little bit more detail.<br>

A categorical data variable is often more than just a variable who's value is one of two or more classes, or categories.<br>
Sometimes the *order* of categories is meaningful, and contains some information that may be useful for analysis.<br>
For example, we may have a dataset that contains a variable 'ice_cream_flavor' that takes five possible values: 'vanilla', 'strawberry', 'pistachio', 'chocolate', and 'mango'. In this example, there is not a natural order to the five categories. <br>
Now consider a variable called 'portion_size' that takes on one of the three possible values: 'standard', 'double', and 'super'. In this case, the three categories are related to one another by an *ordering*. We would like for any future model we fit to this data to recognize and make use of the fact that $$standard < double < super.$$
<br>

Try to think of a variable in our dataset that should be an ordered categorical variable.

One such variable would be 'education'. Let's examine the list of possible values:

In [25]:
df['education'].unique()

array(['11th', 'HS-grad', 'Assoc-acdm', 'Some-college', '10th',
       'Prof-school', '7th-8th', 'Bachelors', 'Masters', 'Doctorate',
       '5th-6th', 'Assoc-voc', '9th', '12th', '1st-4th', 'Preschool'],
      dtype=object)

There is clearly an underlying order to these categories!<br>
In general, you would have to consult the data manual to establish what the correct order is.<br>
For this data, the true ordering would be:<br>
    
$$Preschool < 1st-4th < 5th-6th < 7th-8th < 9th < 10th < 11th < 12th < HS-grad < Prof-school < Assoc-acdm < Assoc-voc < Some-college < Bachelors < Masters < Doctorate.$$
<br>
Is this variable currently ordered?

In [26]:
df['education'].dtype

dtype('O')

No! This variable is of type 'object'. Any future analysis in python won't recognize the underlying order of categories. 
<br> We need to transform this variable into an ordered categorical variable. Here's how.<br>

In [29]:
# First, create a correctly ordered list of category names:
edu = ['Preschool', '1st-4th', '5th-6th', '7th-8th', '9th', '10th', '1th', '12th', 'HS-grad', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Some-college', 'Bachelors', 'Masters', 'Doctorate']
# Then, use the pd.Categorical method to reassign the values of this column as a new type with awareness of the order:
df['education'] = pd.Categorical(df['education'], ordered=True, categories=edu)

In [32]:
df['education'].dtype
df['education']

0                 NaN
1             HS-grad
2          Assoc-acdm
3        Some-college
4        Some-college
             ...
48837      Assoc-acdm
48838         HS-grad
48839         HS-grad
48840         HS-grad
48841         HS-grad
Name: education, Length: 48842, dtype: category
Categories (16, object): ['Preschool' < '1st-4th' < '5th-6th' < '7th-8th' ... 'Some-college' < 'Bachelors' < 'Masters' < 'Doctorate']

Perfect! Now we can be sure that the order is recognized by Python. <br>
(Note: This will come in handy when we create plots with categories on one axis.)

### Convert Categorical Variables into "Dummy" Variables

There are many different ways we can transform our categorical data into numerical data to prepare for the model training phase. Pandas has one function that helps us transform categorical values into binary ones. It is the `pd.get_dummies()` function. Often we refer to these binary values as "dummy" values, or variables. Read up on the Pandas `pd.get_dummies()` function. You can consult the online [documentation](https://pandas.pydata.org/docs/reference/api/pandas.get_dummies.html).
Run the cell below to observe the results of creating dummies for all variables in our data.

In [34]:
df_binary = pd.get_dummies(df)
df_binary.head(30)

,age,fnlwgt,educational-num,capital-gain,capital-loss,hours-per-week,workclass_Not-self-emp,workclass_Self-emp,education_Preschool,education_1st-4th,...,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia,label_False,label_True
0,25,226802,7,0,0,40,True,False,False,False,...,False,False,False,False,False,True,False,False,True,False
1,38,89814,9,0,0,50,True,False,False,False,...,False,False,False,False,False,True,False,False,True,False
2,28,336951,12,0,0,40,True,False,False,False,...,False,False,False,False,False,True,False,False,False,True
3,44,160323,10,7688,0,40,True,False,False,False,...,False,False,False,False,False,True,False,False,False,True
4,18,103497,10,0,0,30,True,False,False,False,...,False,False,False,False,False,True,False,False,True,False
5,34,198693,6,0,0,30,True,False,False,False,...,False,False,False,False,False,True,False,False,True,False
6,29,227026,9,0,0,40,True,False,False,False,...,False,False,False,False,False,True,False,False,True,False
7,63,104626,15,3103,0,32,False,True,False,False,...,False,False,False,False,False,True,False,False,False,True
8,24,369667,10,0,0,40,True,False,False,False,...,False,False,False,False,False,True,False,False,True,False
9,55,104996,4,0,0,10,True,False,False,False,...,False,False,False,False,False,True,False,False,True,False
10,65,184454,9,6418,0,40,True,False,False,False,...,False,False,False,False,False,True,False,False,False,True
11,36,212465,13,0,0,40,True,False,False,False,...,False,False,False,False,False,True,False,False,True,False
12,26,82091,9,0,0,39,True,False,False,False,...,False,False,False,False,False,True,False,False,True,False
13,58,299831,9,0,0,35,True,False,False,False,...,False,False,False,False,False,True,False,False,True,False
14,48,279724,9,3103,0,48,True,False,False,False,...,False,False,False,False,False,True,False,False,False,True
15,43,346189,14,0,0,50,True,False,False,False,...,False,False,False,False,False,True,False,False,False,True
16,20,444554,10,0,0,25,True,False,False,False,...,False,False,False,False,False,True,False,False,True,False
17,43,128354,9,0,0,30,True,False,False,False,...,False,False,False,False,False,True,False,False,True,False
18,37,60548,9,0,0,20,True,False,False,False,...,False,False,False,False,False,True,False,False,True,False
19,40,85019,16,0,0,45,True,False,False,False,...,False,False,False,False,False,False,False,False,False,True
20,34,107914,13,0,0,47,True,False,False,False,...,False,False,False,False,False,True,False,False,False,True
21,34,238588,10,0,0,35,True,False,False,False,...,False,False,False,False,False,True,False,False,True,False
22,72,132015,4,0,0,6,True,False,False,False,...,False,False,False,False,False,True,False,False,True,False
23,25,220931,13,0,0,43,True,False,False,False,...,False,False,False,False,False,False,False,False,True,False
24,25,205947,13,0,0,40,True,False,False,False,...,False,False,False,False,False,True,False,False,True,False
25,45,432824,9,7298,0,90,False,True,False,False,...,False,False,False,False,False,True,False,False,False,True
26,22,236427,9,0,0,20,True,False,False,False,...,False,False,False,False,False,True,False,False,True,False
27,23,134446,9,0,0,54,True,False,False,False,...,False,False,False,False,False,True,False,False,True,False
28,54,99516,9,0,0,35,True,False,False,False,...,False,False,False,False,False,True,False,False,True,False
29,32,109282,10,0,0,60,False,True,False,False,...,False,False,False,False,False,True,False,False,True,False